@import url(./common.css);

header{
    transition: transform 0.4s;
}

.main_banner{
    width: 100%;
    height: 100vh;
    background-color: #DDDECC;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.main_banner .page{
    padding : 72px 0;
    height:100%;
    width:100%;
    background:no-repeat 50% 0 / cover;
 
}
.main_banner_slides{
    position: absolute;
    left: 0; top: 0;
    height:100%;
    width:100%;
    transition:top 0.8s cubic-bezier(.97,0,.82,1.11);
}

.main_banner_slides li{
    height:100%;
    width:100%;
}

.main_banner_slides .page.perlee_1 a{
    width: 464px;
    margin: 0px auto;
    display: block;
    height: 720px;
    transform: translateY(54px);
}

.main_banner .page.perlee_1 .main_b_left{
    position: absolute;
    left:10%;
    top:50%;
    transform: translateY(-50%);
    text-align: right;
}
.main_banner .page.perlee_1 .main_b_left h2{
    color: #060606;
    font-size: 36px;
    line-height: 72px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 600;
    align-items: center;
    text-align: right;
}
.main_banner .page.perlee_1 .main_b_left p{
    font-family: 'Noto Serif KR', serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    width: 435px;
}
.main_banner .page.perlee_1 .main_b_right{
    position: absolute;
    right: 10%;
    top: 45%;
    transform: translate(-50%, -80%);
}
.main_banner .page.perlee_1 .main_b_right h1{
    font-size: 72px;
    font-family: 'Vollkorn', serif; 
    font-weight: 400;
    line-height: 72px;
    width: 310px;
    color: #060606;
    letter-spacing: -0.03em;
}

/* sprite ! */

/*main_banner2*/

.main_banner .ballerina{
    position: relative;
}

.main_banner .page.perlee_1 > a{
    background: url(../images/banner_img1.png) no-repeat;
}
.main_banner .page.ballerina > a{
    background: url(../images/banner_img2.png) no-repeat;
    width: 421px;
    height: 654px;
    margin: 0px auto;
    display: block;
    transform: translate(45%,15%);
}

.main_banner_slides .page.ballerina .main_b_left{
    position: absolute;
    top: 23%;
    left: 15%;
    transform: translate(10%,10%);
}
.main_banner .page.ballerina .main_b_left h2{
    color: #060606;
    font-size: 72px;
    line-height: 81px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 600;
    width: 350px;
    padding-left: 150px;
    text-align: right;
}

.main_banner .page.ballerina .main_b_left h2:after{
    content: '';
    width: 137px;
    height: 135px;
    background: url(../images/sprite_com.png);
    background-position: -358px 0;
    display: block;    
    position: absolute;
    top: -45%;
    left: 40%;
    transform: translate(-50%,50%);
    z-index: -1;
}

.main_banner .page.ballerina .main_b_left p{
    font-family: 'Noto Serif KR', serif;
    font-size: 24px;
    font-weight: 300;
    width: 498px;
    text-align: right;
    padding:27px 0;

}/*pager 넣기*/

/*-------------------------- COLLECTION --------------------------*/
.collection{
    margin: 180px auto;
    text-align: center;
    
}
.collection .small_logo{
    margin: 0 auto 144px;
    background: url(../images/logo.svg) no-repeat;
    text-indent: -9999em;
    width: 123px;
    height: 80px;
    color: #233B36;
}
.collection .sub_title{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 3px;
}
.collection .sub_title{
    line-height: 72px;
}

/*-------------------------- COLLECTION --------------------------*/
/*                              Slide                              */

.collection_slides_wrapper{
    margin-top: 72px;
    position: relative;
}

.collection_slides_wrapper ul{
    height: 404px;
}

        .collection_slides .vca_coll_1,
        .collection_slides .vca_coll_2,
        .collection_slides .vca_coll_3,
        .collection_slides .vca_coll_4,
        .collection_slides .vca_coll_5{
            position: absolute;
            top:0;
            transform: translateY(-50%);
        }

        .collection_slides .vca_coll_1{
            left:50%;
            transform: translateX(-50%);
            z-index: 5;
        }
        .collection_slides .vca_coll_2{
            left:33%;
            transform: translateX(-50%);
        }
        .collection_slides .vca_coll_3{
            transform: translate(245px, 83px);
            opacity: .5;
        }
        .collection_slides .vca_coll_4{
            right:7%;
            transform: translateX(-50%);
        }
        .collection_slides .vca_coll_5{
            right:10%;
            transform: translate(-70px, 77px);
            opacity: .5;
        }

        .collection_slides .vca_coll_2 img,
        .collection_slides .vca_coll_4 img{
            transform: scale(0.9);
        }

.collection_slides_wrapper .controls a{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    opacity: .5;
    transition: 0.4s;
}
.collection_slides_wrapper .controls a:first-child{
    left: 0;
    padding-left: 100px;
}
.collection_slides_wrapper .controls a:last-child{
    right: 0;
    padding-right: 100px;
}
.collection_slides_wrapper .controls a .fas{
    font-size: 40px;
    color: #C4C684;
}
.collection_slides_wrapper .controls a:hover{
    opacity: 1;
}

/*-------------------------- .new_arrivals --------------------------*/
.new_arrivals {
    padding:72px 0 ;
    text-align: center;
}
.new_arrivals .sub_title{
    line-height: 72px;
    display: inline-block;
}
.new_arrivals .sub_title p{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 3px;
}
.new_arrivals .new_things_list div{
    float: left;
    width: 464px;
    height: 324px;
    background-color: rgba(255,255, 255, 0);
    margin-right: 24px;
}
/* .new_arrivals .new_things_list li:after{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0,0,0,.4);
} */


.new_arrivals .new_things_list div:last-child{
    margin-right: 0px;
}

/*-------------------------- ABOUT BRAND --------------------------*/
.about_Vca{
    padding: 254px 0 0;
    text-align: center;
    margin-bottom: 81px;
}

.about_Vca .About_Vca_wrap{
    background: #DDDECC;
}

/* .about_Vca .About_Vca_wrap .contents{
    height: 500px;
} */

.about_Vca .sub_title{
    line-height: 72px;
    display: inline-block;
}
.about_Vca .contents{
    position: relative;
    margin-top: 180px;
    padding-top: 72px;
}
.about_Vca .sub_title p{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 3px;
}
.about_Vca .contents .vca_imgs {
    /* background: url(../images/vca_couple.png) no-repeat center center; */
    width: 580px;
    padding: 0 0 0 98px;
    position: absolute;
    transform: translateY(-250px);
}
.about_story_wrap{
    width: 600px;
    float: right;
    margin-right: 162px;
}
.about_story_wrap .about_story{
    font-family: 'Vollkorn', serif;
    width:820px;
    text-align: left;
}

.about_story_wrap .about_story h2{
    font-size: 45px;
    line-height: 72px;
    color: #CDB545;
    letter-spacing: -0.02em;
}
.about_story_wrap .about_story h3{
    font-size: 34px;
    line-height: 36px;
    color: #CDB545;
    width: 700px;
    letter-spacing: -0.02em;
}
.about_story_wrap .about_story p{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    width: 600px;
    font-weight: 300;
    letter-spacing: -0.02em;
    margin-top: 24px;
}
.about_story_wrap .about_story a{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color:#333333;
    font-weight: 500;
    line-height: 144px;

    display: inline-block;
    width: 160px;    
}
.about_story_wrap .about_story .view_more{
    text-transform: uppercase;
}

/*-------------------------- SUBSCRIBE --------------------------*/

.subscribe{
    padding: 72px 0;
    background: #CDB545;
}

.subscribe .logo_text{
    background: url(../images/logo-text.svg) no-repeat center center;
    background-size: cover;
    width: 756px;
    height: 90px;
    display: block;
    text-indent: -9999em;
    margin: 0 auto;
    margin-bottom: 36px;
}

.subscribe p{
    letter-spacing: -0.03em;
    font-size: 30px;
    color: #F3F4E6;
    width: 532px;
    margin: 0 auto;
    text-align: center;
    line-height: 100%;
}

.subscribe form{
    padding: 36px;
    text-align: center;
}

.subscribe form input[type="submit"]{
    font-family: 'Noto Serif KR', serif;
    color: #DDDECC;
    border:2px solid #DDDECC;
    padding: 5px 63px 5px 63px;
    font-size: 14px;
    letter-spacing: -0.01em;
    transition: .4s;
}
.subscribe form input[type="submit"]:hover{
    background-color: #DDDECC;
    color: #CDB545;
    cursor: pointer;
}

.subscribe form input[type="email"]{
    width: 485px;
    padding: 5px 0px;
    border-bottom: 2px solid #DDDECC;
    margin-right: 10px;
    color: #DDDECC;
    font-size: 16px;
}

.subscribe form input[type="email"]::placeholder{
    padding: 0 20px;
    color: #DDDECC;
    font-size: 15px;
}